.wrapper{
    display: flex;
}

.wrapper > * {
    flex: 1;
    height: 100vh;
}

.menu{
    background-color: aliceblue;
}

.right{
    background-color: blanchedalmond;
    display: flex;
     flex-direction: column; 
    justify-content: space-between;
    border: 7px solid saddlebrown;
    flex: 3;
}



.head{
    display: flex;
    background-color: blueviolet;
    border: 7px solid saddlebrown;
    align-items: center;
    /* justify-content: space-around; */
} 

  .head > * {
    flex:1;
}  

.bellIcon {
  background-image: url('./icons.png');
  background-position: -949px -539px; 
  width: 31px;
  height: 37px;
}

.buildIcon {
    background-image: url('./icons.png');
    background-position: -425px -145px; 
    width: 80px;
    height: 76px;
}

.heading{
    display: flex;
    align-items: center;
    flex:5;
}

.right-head{
    display: flex;
    align-items: center;
}

.name{
    display: flex;
    flex-direction: column;
}



.stats{
    background-color: burlywood;
    border: 7px solid saddlebrown;
    /* flex: 2; */
}

.box{
    background-color: hotpink;
   /*  flex:6; */
   border: 10px solid saddlebrown;
}

.footer{
     background-color: forestgreen;
   /*  flex:6; */
   border: 10px solid saddlebrown;
}