.wrapper{
    display: flex;
}

.wrapper > * {
    flex: 1;
    height: 100vh;
}

.menu{
    background-color: aliceblue;
}

.right{
   
    display: flex;
     flex-direction: column; 
    justify-content: space-between;
    border: 7px solid saddlebrown;
    flex: 3;
}



.head{
    display: flex;
    align-items: center;
} 

  .head > * {
    flex:1;
}  

.bellIcon {
    background-image: url('./icons.png');
    background-position: -1041px -544px; 
    width: 31px;
    height: 31px;
}

.buildIcon {
    background-image: url('./icons.png');
    background-position: -425px -145px; 
    width: 80px;
    height: 76px;
     zoom:0.5;
}

.amountIcon {
    background-image: url('./icons.png');
    background-position: -1048px -252px; 
    width: 72px;
    height: 60px;
    zoom: 0.5;
}

.arrow-icon{
    background-image: url('./icons.png');
    background-position: -72px -45px; 
    width: 32px;
    height: 18px;
    padding-right: 5px;
}

.arrow{
    display: flex;
   /*  justify-content: flex-start; */
    
    
}

.heading{
    display: flex;
    align-items: center;
    flex:3;
}

.right-head{
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}

.right-side{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side > * {
    flex:0;
}

.name{
    display: flex;
    flex-wrap: wrap;
    padding-left:5px;
    
}

.name > * {
    flex: 1;
}

.stats-head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.amount{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.company{
    font-size: 12px;
    margin:0;
}

.amount-inv{
    margin: 0;
}

.am-value{
    margin: 0;
}

.logout{
    margin: 0;
}

.fix{
    margin: 0;
}

.equity-h{
    margin: 0;
}

.stats{
    display: flex;
    background-color: burlywood;
    align-items: center;
    justify-content: center;
}

.stats > * {
    flex: 1;
}

.profitIcon{
    background-image: url('./icons.png');
    background-position: -1136px -247px; 
    width: 54px;
    height: 68px;
    zoom:0.5;
}

.walletIcon{
    background-image: url('./icons.png');
    background-position: -832px -259px; 
    width: 41px;
    height: 45px;
    zoom:0.8;
}

.withdrawIcon{
    background-image: url('./icons.png');
    background-position: -460px -353px; 
    width: 37px;
    height: 34px;
    color:red;
}

.fixamIcon{
    background-image: url('./icons.png');
    background-position: -66px -563px; 
    width: 46px;
    height: 34px;
}

.eqIcon{
    background-image: url('./icons.png');
    background-position: -132px -564px; 
    width: 54px;
    height: 33px;
}

.box{
    background-color: hotpink;
    border: 10px solid saddlebrown;
}

.nav{
    display: flex;
    background-color: darkmagenta;
    align-items: center;
    
}

.item1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.item2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.footer{
     background-color: forestgreen;
     border: 10px solid saddlebrown;
}